<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer One</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="../../../styles/global.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="content-info">
                <img class="brand-logo" src="../../../assets/images/logo.png" alt="brand-logo">
                <p>Join our newsletter to stay up to date on features and releases.</p>
                <form class="content-info-form" action="">
                    <input class="form-input" type="email" placeholder="Enter your email" name="" id="">
                    <button class="form-button" type="submit">Subscribe</button>
                </form>
                <p class="content-info-p">By subscribing you agree to with our Privacy Policy and provide consent to receive updates from our company.</p>
            </div>
            <div class="content-nav">
                <nav class="col-1">
                    <p class="col-1-P">Column One</p>
                    <p><a href="">Link One</a></p>
                    <p><a href="">Link Two</a></p>
                    <p><a href="">Link Three</a></p>
                    <p><a href="">Link Four</a></p>
                    <p><a href="">Link Five</a></p>
                </nav>
                <nav class="col-2">
                    <p class="col-2-P">Column Two</p>
                    <p><a href="">Link One</a></p>
                    <p><a href="">Link Two</a></p>
                    <p><a href="">Link Three</a></p>
                    <p><a href="">Link Four</a></p>
                    <p><a href="">Link Five</a></p>
                </nav>
                <nav class="follow-us">
                    <p class="follow-us-P">Follow Us</p>
                    <div class="social-icon-text">
                        <a href=""><img src="../../../assets/images/Facebook.svg" alt="social-icon"></a>
                        <p>Facebook</p>
                    </div>
                    <div class="social-icon-text">
                        <a href=""><img src="../../../assets/images/Instagram.svg" alt="social-icon"></a>
                        <p>Instagram</p>
                    </div>
                    <div class="social-icon-text">
                        <a href=""><img src="../../../assets/images/X.svg" alt="social-icon"></a>
                        <p>X</p>
                    </div>
                    <div class="social-icon-text">
                        <a href=""><img src="../../../assets/images/LinkedIn.svg" alt="social-icon"></a>
                        <p>LinkedIn</p>
                    </div>
                    <div class="social-icon-text">
                        <a href=""><img src="../../../assets/images/Youtube.svg" alt="social-icon"></a>
                        <p>Youtube</p>
                    </div>
                </nav>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2023 Relume. All rights reserved.</p>
            <nav class="nav-terms">
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
                <a href="">Cookies Settings</a>
            </nav>
        </div>
    </footer>
</body>
</html>