@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 542px;
    padding: 80px 64px;
    gap: 80px;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footer-content {
    display: flex;
    width: 100%;
    gap: 128px;
}

.footer-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    
    
    width: 100%;
    height: 54px;

    border-top: solid 1px black;
}

.nav-terms {
    display: flex;
    text-decoration-color: black;
    text-decoration: underline;
    gap: 24px;
    
}


.nav-terms a {
    color: black;
}

.content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    margin-right: 128px;

    width: 500px;
    height: 199px;
}

.brand-logo {
    width: 63px;
    height: 27px;
}

.content-info-form {
    display: flex;
    gap: 16px;
}

.form-input, .form-button {
    border: 1px solid black;
}

.form-input {
    padding: 12px;
    width: 400px;
    height: 48px;
}

.form-button {
    width: 119px;
    height: 48px;
    background-color: transparent;
}

.content-info-p {
    font-size: 12px;
}

.content-nav {
    display: flex;
    gap: 152px;
}

.col-1, .col-2 {
    width: 200px;
    height: 225px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 40px;

}

.follow-us {
    height: 225px;
    display: flex;
    flex-direction: column;

    
}

.col-1-P, .col-2-P, .follow-us-P {
    margin-bottom: 8px;
    font-weight: bold;
}

.follow-us-P {
    margin-bottom: 16px;
}

.col-1 p a, .col-2 p a {
    color: black;
}

.social-icon-text {
    padding: 8px 0px 8px 0px;
}

.social-icon-text a {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12px;
    text-decoration: none;
    color: black;
}

.footer-bottom-hr {
    display: none;
}


@media (max-device-width: 568px)  {



    footer {
        height: 100%;
        padding: 48px 20px;

    }

    .footer-content {
        flex-direction: column;
    }
    
    .content-nav {
        flex-direction: column;
    }

    .content-info-form {
        flex-direction: column;
    }

    .content-info {
        display: flex;
        margin: 0;
        flex-direction: column;
    }

    .form-input, .form-button {
        width: 335px;
    }

    .brand-logo {
        margin-top: 48px;
    }

    .content-info p {
        
        width: 335px;
    }
    
    .content-nav {
        gap: 40px;
    }

    .footer-bottom {
        padding-bottom: 24px;
        align-items: flex-start;
        height: 100%;
        flex-direction: column;
    }



    .footer-bottom-p {
        order: 1;
        padding-top: 38px;
        padding-bottom: 48px;
    }

    .nav-terms {
        flex-direction: column;
    }

    .footer-bottom-hr {
        display: block;
        height: 4px;
        width: 100%;
        background-color: black;
    }
}
