<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Four</title>
    <link rel="stylesheet" href="../../style/global.css">
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <img  src="../../../assets/images/logo.png" alt="brand-logo">
            <nav class="nav-pages">
                <a href="#">Link One</a>
                <a href="#">Link Two</a>
                <a href="#">Link Three</a>
                <a href="#">Link Four</a>
                <a href="#">Link Five</a>
            </nav>
            <nav class="nav-social-medias">
                <a href="#"><img src="../../../assets/images/Facebook.svg" alt=""></a>
                <a href="#"><img src="../../../assets/images/Instagram.svg" alt=""></a>
                <a href="#"><img src="../../../assets/images/X.svg" alt=""></a>
                <a href="#"><img src="../../../assets/images/LinkedIn.svg" alt=""></a>
                <a href="#"><img src="../../../assets/images/Youtube.svg" alt=""></a>
            </nav>
        </div>
        <div class="footer-bottom">
            <p>© 2023 Relume. All rights reserved.</p>
            <nav class="nav-terms">
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
                <a href="">Cookies Settings</a>
            </nav>
        </div>
    </footer>
</body>
</html>